.containerPrincipalSolicitacao{
    //border: solid blue;
    width: 95vw;
}

.headerSolicitacao{
  //  border: solid red;
    display: flex;
    width: 20vw;
}

.layoutSolicitacao{
    display: flex;
}

.mainSolicitacao{
width: 100%;
display: flex;
flex-direction: column;
}

.formSolicitacao{
width: 100%;
display: flex;
justify-content: space-between;
}

//Estilização padrão para inputs, textarea, select e label

input, select, textarea{
    border-radius: 6px;
    border: solid #CBD4E1 0.8px;
    height: 4vh;
    width: 100%;
}

label{
    color: #23282F;
    font-weight: 700;
    font-size: 1rem;
}

textarea{
    height: 10vh;
}

//Estilização do grupo 1

.grupo1{
 //border: solid;
    width: 85%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.inputNome{
   // border: solid purple;
    width: 45%;
}

.inputEmpresa{
   // border: solid blue;
    width: 25%;
}

.inputPrestacao{
   // border: solid orange;
    width: 25%;
}

.inputMotivo{
   // border: solid green;
    width: 100%;
}

//Estilização da barra vertical

.barraVertical{
    width: 0.1vw;
    border: solid #CBD4E1 1px;
    height: 25vh;
}

//Estilizção do grupo 2

.grupo2{
    width: 60%;
    height: 25vh;
    //border: solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.inputData{
    //border: solid green;
    width: 25%;
}

.despesas{
   // border: solid blue;
    width: 30%;
}

.centroDeCusto{
    //border: solid purple;
    width: 40%;
}

.ordem, .divisoes, .pep, .distancia{
   // border: solid orange;
    width:8%;
}

.moeda, .valorKm, .valorFaturado, .despesa{
//border: solid rgb(16, 137, 80);
width: 11%;
}

.botoes{
    width: 15%;
    //border: solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.botaoSalvar{
background-color: #001A3D;
color: #ffffff;
width: 5vw;
}

.botaoDeletar{
background-color: #00BEDD;
color: #ffffff;
width: 2vw;
}

//Estilização da tabela

table{
    width: 100%;
    border: solid;
    border-collapse: collapse;

}
th{
    background-color: #CBD4E1;
    font-weight: 400;
    font-size: 1rem;
}
td, th{
    border: solid #F1F4F9 0.8px;
    text-align: center;
}