main{
    display: flex;
}


.containernavio{
    border: solid red;
    width: 60vw; //medida para largura
    height: 100vh; //medida para altura de 100vh
    background-image: url("../../assets/Tela\ Login/backgroundLogin.png");
    background-repeat: no-repeat;
}

.containerformulario{
    border: solid blue;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form{
    border: solid green;
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    input{
        width: 80%;
        height: 4vh;
        border-radius: 6px;
    }
    div{
        border: solid blue;
        width: 60vh;
        height: 5vh;
        
    }
}
